
.channelsbar {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
}
.feedHeader{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
}
ul{
    list-style-type: none;
}
.feed{
    background-image: linear-gradient(90deg, #410076, #8820dd);
}