.feed {
    flex: 0.4;
    border-right: 1px solid grey;
    /* min-width: fit-content; */
    /* overflow-y: scroll; */
    overflow: hidden;
  }
.feedHeader{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-image: linear-gradient(90deg, #4767b0, #7cf0ff);
}
ul{
    list-style-type: none;
}

.feedHeaderIconLeft
{
    flex: 0.05;
    padding: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.feedSquealBox{
    
    width: 100%;
    background-image: linear-gradient(90deg, #4767b0, #7cf0ff);
    
}

.feedHeaderIconRight{
    flex: 0.05;
    padding: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* .feedHeaderSearchbar{
    align-items: center;
    background-color: black;
} */
