.feed {
    flex: 0.4;
    border-right: 1px solid grey;
    /* min-width: fit-content; */
    /* overflow-y: scroll; */
    overflow: hidden;
  }
.feedHeader{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(90deg, #4767b0, #7cf0ff);
}
ul{
    list-style-type: none;
}

.feedHeaderIconLeft
{
    width: 100px;
}

.feedSquealBox{
    
    width: 100%;
    background-image: linear-gradient(90deg, #4767b0, #7cf0ff);
    
}
