<span class="demo-section px-2">
    <mat-icon matBadge="{{pos3Reac}}" matBadgeColor="warn" aria-hidden="false">sentiment_very_satisfied</mat-icon>
    <span class="cdk-visually-hidden">
        Example with a very satisfied icon with overlaid badge showing the number {{pos3Reac}}
    </span>
</span>
<span class="demo-section px-2">
    <mat-icon matBadge="{{pos2Reac}}" matBadgeColor="warn" aria-hidden="false">sentiment_satisfied</mat-icon>
    <span class="cdk-visually-hidden">
        Example with a satisfied icon with overlaid badge showing the number {{pos2Reac}}
    </span>
</span>
<span class="demo-section px-2">
    <mat-icon matBadge="{{neg1Reac}}" matBadgeColor="warn" aria-hidden="false">sentiment_dissatisfied</mat-icon>
    <span class="cdk-visually-hidden">
        Example with a dissatisfied icon with overlaid badge showing the number {{neg1Reac}}
    </span>
</span>
<span class="demo-section px-2">
    <mat-icon matBadge="{{neg0Reac}}" matBadgeColor="warn" aria-hidden="false">sentiment_very_dissatisfied</mat-icon>
    <span class="cdk-visually-hidden">
        Example with a very dissatisfied icon with overlaid badge showing the number {{neg0Reac}}
    </span>
</span>