<app-feed-filter (filterChange)="applyFilter($event)"></app-feed-filter>

<ul class="d-flex flex-row p-0" style="flex-wrap: wrap; list-style-type: none; ">
    <li *ngFor="let squeal of squeals; let index = index" class="square-container p-2 m-2 card text-center"
        style="align-items: center;">
        <div class="p-1 card-body" style="width: 10rem; border-radius: 3%; ">
            <img *ngIf="squeal.contentType === 'image'" src="{{ squeal.content}}" alt="squeal image" class="img-fluid">
            <p *ngIf="squeal.contentType === 'text'">{{ squeal.content}}</p>
            <div *ngIf="squeal.contentType === 'geolocalization'"><app-localization-post
                    [coordinates]="squeal.content"></app-localization-post></div>
            <div *ngIf="squeal.contentType === 'video'"> <app-video-post [videoUrl]="squeal.content"></app-video-post>
            </div>
        </div>
        <div class="card-footer text-body-secondary" style="font-size: smaller;">
            {{squealsDate[index]}}
        </div>


    </li>
</ul>