/* Ensure a stacking context for .sticky-top */
.sticky-top {
  z-index: 2; /* or an appropriate value */
}

/* Ensure a stacking context for app-top-bar */
app-top-bar {
  z-index: 2;
}

/* Ensure a stacking context for #profileTabDashboard */
#profileTabDashboard {
  z-index: 1;
}

/* Ensure a stacking context for .fixed-bottom */
.fixed-bottom {
  z-index: 3;
}


#imgVipProfilePic {
  margin-left: 6%;
  max-width: 100%;
  height: auto;
}
#vipProfilePic {
  height: 100%;
  width: 5rem;
}

#vipUsername {
  margin-top: 10px;
}

#postButtonContainer {
  margin-top: 1rem;
}

#selectionImg {
  height: 10rem;
  width: 10rem;
}

@media (min-width: 768px) {
  .responsive-addons {
    display: none;
  }
}

@media (max-width: 768px) {
  .shop-chat-buttons {
    display: none;
  }
}

@media (min-width: 768px) {
  .shop-chat-buttons {
    display: flex;
    align-items: flex-end;
  }
}
