<div id="dashboardContainer">
    <div id="backgroundImg"></div>
    <div class="sticky-top" style="z-index: 500;">
        <app-top-bar (vipSelected)="selectVip($event)"></app-top-bar>
        <div class="row px-2" id="profileTabDashboard" style="background-color: rgb(30, 43, 61); ">
            <div class="col-4" id="tabProfile">
                <div class="row" style="margin-left: 3%;">
                    <div class="col-6 " style="padding: 1.5%;" id="vipProfilePic">
                        <div class="rounded-avatar">
                            <img *ngIf="vipProfilePic" class="rounded-avatar-img" id="imgVipProfilePic"
                                [src]="vipProfilePic" alt="Avatar">
                        </div>
                    </div>
                    <div class="col-6" id="vipUsername " style="color: white; margin-top: 1rem;">
                        <h2 style="font-family:'CenturyGothic';">{{vipUsername}}</h2>
                    </div>

                </div>

            </div>
            <div class="col-3" *ngIf="activeTab == 'feed'" style="margin-top: 0.5%;"><app-create-post></app-create-post>
            </div>

            <tabset type="pills" class="col-4" style="margin-top: 0.5rem;">
                <div class="row">
                    <tab class="col-6"><ng-template tabHeading>
                            <button id="showFeedButton" class="mx-2 p-0 text btn" (click)="activeTab = 'feed' "><span
                                    class=""
                                    style=" font-weight: 500; font-size: 1.2rem; color: #6392c1;">Feed</span></button>
                        </ng-template></tab>
                    <tab class="col-6"><ng-template tabHeading>
                            <button id="showCharsButton" class="mx-2 p-0 text btn " (click)="activeTab = 'chars' "><span
                                    class=""
                                    style="font-weight: 500; font-size: 1.2rem; color: #6392c1;">Caratteri</span></button>

                        </ng-template></tab>
                    <tab class="col-6"><ng-template tabHeading>
                            <button id="showTrendButton" class="mx-2 p-0 text btn " (click)="activeTab = 'trend' "><span
                                    class=""
                                    style="font-weight: 500; font-size: 1.2rem; color: #6392c1;">Trend</span></button>

                        </ng-template></tab>

                </div>
            </tabset>
        </div>
    </div>

    <div *ngIf="activeTab == 'feed'" id="dashFeedTab">
        <app-feed-tab [refreshFeed]="refreshFeed"></app-feed-tab>
    </div>

    <div *ngIf="activeTab == 'chars'" class="chars-tab" id="dashCharsTab">
        <app-character-tab [dailyChars]="characters.daily" [weeklyChars]="characters.weekly"
            [monthlyChars]="characters.monthly"></app-character-tab>
        <div class="shop-card">
            <div class="shop-title">Shop Notice</div>

            <p class="description">Dai un'occhiata allo <a [routerLink]="['/shop']">shop</a> per comprare caratteri
                aggiuntivi! </p>

        </div>

    </div>

    <div *ngIf="activeTab == 'trend'" id="dashTrendTab">
        <app-trend-tab></app-trend-tab>
    </div>

</div>