.shop-page {
  overflow-x: hidden;

  height: 100%;
}
#shop-title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-size: 2rem;
  color: #dcdcdc;
  
}
#backgroundImg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #565869;
  background-repeat: repeat;
  background-size: 150px 150px; 
  z-index: -1;
}
@media (min-width: 1140px) {
  
}