<div class="shop-page">
    <div id="backgroundImg"></div><app-shop-top-bar></app-shop-top-bar>
    <h1 id="shop-title" style="padding-top: 4%;">Il tuo shop dei caratteri.</h1>
    <div class="row" style="display: flex; align-items: center; "> <app-shop-cards class="col-6"></app-shop-cards>
        <mat-divider class="col-1" vertical></mat-divider>
        <app-character-displayer class="col-5" [dailyChars]="characters.daily" [weeklyChars]="characters.weekly"
            [monthlyChars]="characters.monthly" [isTab] = false>
        </app-character-displayer>
    </div>

</div>