<div class="shopCards">
    <div class="row ">
        <mat-card class="card col-sm-6 mx-4" (click)="handleCardClick(100)">

            <img mat-card-image class=" mat-card" src="../../../assets/compra1.png">
            <mat-card-content>
                <p style="font-size: large; color: rgb(47, 47, 47);">
                    Compra 100 caratteri
                </p>
                
            </mat-card-content>
        </mat-card>

        <mat-card class="card col-sm-6" (click)="handleCardClick(200)">
            <img mat-card-image class=" mat-card" src="../../../assets/compra2.png">
            <mat-card-content>
                <p style="font-size: large; color: rgb(47, 47, 47);">
                    Compra 200 caratteri
                </p>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="row mt-4 mb-3">
        <mat-card class="card col-sm-6 mx-4" (click)="handleCardClick(300)">
            <img mat-card-image class="  mat-card" src="../../../assets/compra3.png">
            <mat-card-content>
                <p style="font-size: large; color: rgb(47, 47, 47);">
                    Compra 300 caratteri
                </p>
            </mat-card-content> </mat-card>
        <mat-card class="card col-sm-6" (click)="handleCardClick(400)">
            <img mat-card-image class=" mat-card" src="../../../assets/compra4.png">
            <mat-card-content>
                <p style="font-size: large; color: rgb(47, 47, 47);">
                    Compra 400 caratteri
                </p>
            </mat-card-content> </mat-card>
    </div>
</div>