div[disabled] {
  pointer-events: none;
  opacity: 0.7;
}

/* .squealBox {
  padding-bottom: 10px;
  border-bottom: 8px solid grey;
  padding-right: 10px;
}

.squealBox > form {
  display: flex;
  flex-direction: column;
}

.squealBoxInput {
  padding: 20px;
  display: flex;
  align-items: center;
}

.squealBoxInput > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.squealBoxInputImage {
  border: none;
  padding: 20px;
}

.squealButton {
  background-color: lightcoral !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px;
  height: 40px !important;
  margin-left: auto !important;
}

.squealCharacterLimit {
  margin-left: auto;
  margin-right: 10px;
  color: grey;
}

.squealForm {
  display: flex;
  flex-direction: column;
  width: 60vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
} */
