<div class="row">
    <p class="col-1" style="text-align: center; margin-top: 1rem;">Filtri:</p>
    <form class="col" (ngSubmit)="applyFilter(filterForm)" #filterForm="ngForm">
        <mat-form-field appearance="fill" class="px-2 pt-2">
            <mat-label>Ordina per:</mat-label>
            <mat-select name="orderBy" [(ngModel)]="filterParams.orderBy">
                <mat-option value="recent">Più recenti</mat-option>
                <mat-option value="oldest">Meno recenti</mat-option>
                <mat-option value="liked">Più reazioni positive</mat-option>
                <mat-option value="disliked">Più reazioni negative</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="px-2 pt-2">
            <mat-label>Mostra:</mat-label>
            <mat-select name="contentTypes" [(ngModel)]="filterParams.contentTypes" multiple>
                <mat-option value="all">Tutti</mat-option>
                <mat-option value="text">Testo</mat-option>
                <mat-option value="image">Immagine</mat-option>
                <mat-option value="video">Video</mat-option>
                <mat-option value="geolocalization">Geolocalizzazione</mat-option>
                <!-- Aggiungi altre opzioni se necessario -->
            </mat-select>
        </mat-form-field>

        <button mat-raised-button type="submit">Applica filtri</button>

    </form>

</div>