<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squeal SMM</title>

</head>

<body>
    <div class="row" id="login-container">
        <div class="col-6" id="login-logo">
            <img src="./assets/SLogo.png" alt="Logo">
        </div>
        <div class="col-6" id="login-form">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Active</a>
                </li>
            </ul>
        </div>
    </div>


    <!--  <h2>Login</h2>
            <form>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" [(ngModel)]="username">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" [(ngModel)]="password">
                </div>
                <button type="submit">Login</button>
            </form>
            <p><a href="#">Reset Password</a></p>-->
</body>

</html>