<div *ngIf="receiverInexistentError" class="errorMessage">
    <p class="responseErr">Canale o keyword inesistente!</p>
</div>
<div *ngIf="receiverDuplicateError" class="errorMessage">
    <p class="responseErr">Canale o keyword già inserita!</p>
</div>
<div class="input-group mb-3">

    <div class="input-group-prepend">

        <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-basic" (click)="stopEventPropagation($event)">
                {{channelChoice}}<span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" (click)="chooseChannel('§', $event)">§</a></li>
                <li role="menuitem"><a class="dropdown-item" (click)="chooseChannel('#', $event)">#</a></li>
            </ul>
        </div>

    </div>
    <input type="text" class="form-control" id="inputReceiver" placeholder="Username" aria-label="Username"
        aria-describedby="basic-addon1" (input)="stopEventPropagation($event)" (click)="stopEventPropagation($event)"/>

    <div class="input-group-append">
        <button class="btn btn-outline-secondary p-0 px-1 pt-1" type="button"
            (click)="addReceiver($event)"><mat-icon>add</mat-icon></button>
    </div>
</div>
<div *ngIf="receiversNumber > 0">
    <ul class="receivers-list">
        <div role="group" class="pb-1 btn-group" *ngFor="let rec of receivers; let i = index">
            <button type="button" disabled="" class="btn btn-outline-dark">{{ rec.channel }}</button>
            <button type="button" class="btn btn-outline-danger" (click)="deleteReceiver(i, $event)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </ul>
</div>
