
.responseErr {
    color: rgb(189, 0, 0);
    text-decoration: underline;
    padding-left: 0.8rem;
  }
  .receivers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.receivers-list > div {
    margin-right: 10px;
    margin-bottom: 10px;
}
