<div id="welcome-container">

    <div id="logoContainer">
        <img class="img-fluid" [src]="logosrc" alt="Logo" id="logo" aria-label="Logo dell'applicazione">
    </div>

    <div class="p-2" style="position: fixed; top: 18%;" id="titleContainer">
        <h1 id="title" style="font-weight: 600; color: #ffffff;">Benvenuto {{ smmUsername }}!</h1>
    </div>

    <div class="account-selection-container py-4 px-5" style="bottom: 18vh; position: fixed;">

        <div class="account-selection-form">
            <mat-form-field appearance="fill">
                <mat-label aria-live="polite" style="color: #333333;">Seleziona l'account da gestire:</mat-label>
                <mat-select [(ngModel)]="selectedAccountUsername" placeholder="Account"
                    aria-label="Seleziona l'account da gestire">
                    <mat-option *ngFor="let username of vipUsernames; let i = index" [value]="username">
                        <div class="row py-1" style="width: 300px;">
                            <div class="col-3">
                                <div class="rounded-avatar"> <img class="rounded-avatar-img" *ngIf="vipImages[i]"
                                        [src]="vipImages[i]" alt="Profile image"></div>
                            </div>
                            <div class="col-4" style="text-align: center; margin-top: 1rem; font-size: large;">{{ username }}</div>
                        </div>

                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" (click)="onSubmit()" style="border-radius: 20px;">Seleziona</button>

    </div>
</div>