/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'OctopusItalic';
    src: url('assets/fonts/OctopusGameItalic-lgvnV.ttf') format('truetype');
  }

  @font-face {
    font-family: 'MontserratItalic';
    src: url('assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  }  

@font-face {
  font-family: 'CenturyGothic';
  src: url('assets/fonts/CenturyGothic/CenturyGothic.ttf');
}
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
