<div id="charDisplayer">
        <div id="dailyQuota" class="charContainer"> Caratteri giornalieri rimanenti: <span id="dailyChars"
                        [ngClass]="{'coloredDaily': dailyChars < dailyAlert}">{{ dailyChars }}</span> </div>
        <div id="weeklyQuota" class="charContainer"> Caratteri settimanali rimanenti:<span id="weeklyChars"
                        [ngClass]="{'coloredWeekly': weeklyChars < weeklyAlert}"> {{ weeklyChars
                        }} </span> </div>
        <div id="monthlyQuota" class="charContainer"> Caratteri mensili rimanenti: <span id="monthlyChars"
                        [ngClass]="{'coloredMonthly': monthlyChars < monthlyAlert}">{{ monthlyChars
                        }}
                </span> </div>
</div>
<!--
1000
6000
22000
-->