#charDisplayer{
    font-size: 1.5rem; 
    font-weight: 300; 
    text-align: center;
    border-top: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.charContainer{
    padding: 1rem;
}

.coloredDaily, .coloredWeekly,  .coloredMonthly{
    color: red;
}

@media screen and (max-width: 800px) {
    #charDisplayer {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    #charDisplayer {
        font-size: 1rem;
    }
}
