<app-feed-filter (filterChange)="applyFilter($event)"></app-feed-filter>
<ul class="d-flex flex-row p-0"
    style="flex-wrap: wrap; list-style-type: none; align-items: center; justify-content: center; ">
    <li *ngFor="let squeal of displayedSqueals; let index = index" class="square-container p-2 m-4 card text-center"
        style="align-items: center;">
        <div class="card-header row  py-0 px-1" style="width: 18rem;">
            <app-reactions-card-header class="col-9  mt-3" [neg0Reac]="squeal.neg0Reac" [neg1Reac]="squeal.neg1Reac"
                [pos2Reac]="squeal.pos2Reac" [pos3Reac]="squeal.pos3Reac"></app-reactions-card-header>
            <div class="col-3 p-0"><button (click)="deletePost(index)" mat-icon-button
                    aria-label="Icon button with a delete icon">
                    <mat-icon>delete_forever</mat-icon>
                </button></div>
        </div>
        <div class="p-1 card-body" style="width: 20rem; border-radius: 3%; ">
            <div *ngIf="squeal.contentType=== 'image'"> <app-image-format [format]="squeal.content"
                    [idImage]="squeal._id"></app-image-format></div>
            <p *ngIf="squeal.contentType === 'text'">{{ squeal.content}}</p>
            <div *ngIf="squeal.contentType === 'geolocalization'"><app-localization-format
                    [coordinates]="squeal.content"></app-localization-format></div>
            <div *ngIf="squeal.contentType === 'video'"> <app-video-format [format]="squeal.content"
                    [idVideo]="squeal._id"></app-video-format>
            </div>
        </div>
        <div class="card-footer text-body-secondary py-0 px-1 row" style="font-size: smaller; width: 18rem;">
            <div class="col-9 p-0 mt-3" style="font-size: small;"> {{squeal.convertedDate}}
            </div>
            <div class="col-3 p-0"><button mat-icon-button aria-label="Icon button with a comment icon">
                    <mat-icon>chat</mat-icon>
                </button></div>
        </div>
    </li>
</ul>

<ng-template #deleteModal let-modal="modalRef" >
    <div class="modal-header">
        <h5 class="modal-title" style="font-size: large;">Confirm Delete</h5>
        <button type="button"  mat-icon-button class="close" aria-label="Close" (click)="modalRef?.hide()">
            <mat-icon aria-hidden="true">close</mat-icon>
        </button>
    </div>
    <div class="modal-body" >
        <p style="font-size: medium;">Are you sure you want to delete this post?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="confirmDeletePost()">Yes</button>
    </div>
</ng-template>