<div style="display: flex; justify-content: center;"><app-feed-filter (filterChange)="applyFilter($event)" role="complementary" aria-label="Filtra feed"></app-feed-filter></div>
<ul class="d-flex flex-row p-0"
    style="flex-wrap: wrap; list-style-type: none; align-items: center; justify-content: center;" role="list">
    <li *ngFor="let squeal of displayedSqueals; let index = index" class="square-container p-2 m-4 card text-center" style="align-items: center;" role="listitem">
        <div style="width: 20rem;font-style: italic;" class="row">
            <p class="col-6" style="text-align: start;">{{squeal.publicSqueal==true ? 'Pubblico' : 'Privato'}}</p>
            <p class="col-6" style="text-align: end;" [ngStyle]="{'color': getColor(squeal.category)}">
                {{squeal.category}}</p>
        </div>
    
        <div class="card-header row py-0 px-1" style="width: 18rem;">
            <app-reactions-card-header class="col-9 mt-3" [neg0Reac]="squeal.neg0Reac" [neg1Reac]="squeal.neg1Reac" [pos2Reac]="squeal.pos2Reac" [pos3Reac]="squeal.pos3Reac"></app-reactions-card-header>
            <div class="col-3 p-0">
                <button (click)="openDeleteModal(index)" mat-icon-button aria-label="Elimina post">
                    <mat-icon>delete_forever</mat-icon>
                </button>
            </div>
        </div>
    
        <div class="p-1 card-body" style="width: 20rem; border-radius: 3%; ">
            <div *ngIf="squeal.contentType === 'image'">
                <app-image-format [format]="squeal.content" [idImage]="squeal._id"></app-image-format>
            </div>
            <p *ngIf="squeal.contentType === 'text'">{{squeal.content}}</p>
            <div *ngIf="squeal.contentType === 'geolocalization'">
                <app-localization-format [coordinates]="squeal.content"></app-localization-format>
            </div>
            <div *ngIf="squeal.contentType === 'video'">
                <app-video-format [format]="squeal.content" [idVideo]="squeal._id"></app-video-format>
            </div>
        </div>
        <div class="card-footer text-body-secondary py-0 px-1 row" [id]="'cardFooterContainer-' + index"
            [style.width]="displayedReceivers[index].length > 0 ? '22rem' : '18rem'"
            style="font-size: smaller; width: 18rem;" role="contentinfo">
            <div class="col-2 p-0 " *ngIf="displayedReceivers[index].length > 0" [id]="'receiversBtnContainer-' + index"
                dropdown>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="btn " data-toggle="dropdown"
                    type="button"><mat-icon>expand_more</mat-icon></button>
                <mat-menu #menu="matMenu" style="width: 20rem;">
                    <div matMenuItem class="m-2 "
                        style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                        <p style="text-align: center;">Aggiungi destinatario </p>
                        <app-channel-selector (receiversChange)="updateReceivers($event)"></app-channel-selector>
                        <button class="btn btn-light pt-1" (click)="addReceivers(squeal._id)">Aggiungi tutti</button>
                    </div>
                    <mat-divider></mat-divider>
                    <p class="m-2" style="text-align: center;">Rimuovi destinatario</p>
                    <ng-container matMenuItem
                        *ngFor="let receiver of displayedReceivers[index]; let receiverIndex = index">
                        <div class="row mx-3 my-1"
                            style="border-radius: 2%; background-color: rgba(33, 37, 41, 0.07); ">
                            <div class="col-8">
                                <p *ngIf="receiver.groupType == 'Channel'" style="padding-top: 8%;">§{{
                                    receiver.group.infoName }}</p>
                                <p *ngIf="receiver.groupType == 'Keyword'" style="padding-top: 8%;">#{{
                                    receiver.group.infoName }}</p>

                            </div>
                            <button class="col-4" mat-icon-button
                                (click)="squeal.receivers.length > 1 ? removeReceiver(squeal._id, receiver.group._id) : openConfirmationModal(index)">
                                <mat-icon>
                                    delete_forever
                                </mat-icon> </button>
                        </div>

                    </ng-container>
                </mat-menu>


            </div>


            <div [class]="displayedReceivers[index].length > 0 ? 'col-7' : 'col-9'" class="p-0 mt-3"
                style="font-size: small;" [id]="'convertedDateContainer-' + index"> {{squeal.convertedDate}}
            </div>
            <div class="col-3 p-0"><button mat-icon-button (click)="openCommentModal(index)"
                    aria-label="Icon button with a comment icon">
                    <mat-icon>chat</mat-icon>
                </button></div>
        </div>
    </li>
</ul>
<ng-template #deleteModal let-modal="modalRef">
    <div class="modal-header" role="banner">
        <h2 class="modal-title" style="font-size: large;">Conferma eliminazione</h2>
        <button type="button" mat-icon-button class="close" aria-label="Chiudi" (click)="modalRef?.hide()">
            <mat-icon aria-hidden="true">close</mat-icon>
        </button>
    </div>
    <div class="modal-body scrollable-modal-bod" role="document">
        <p style="font-size: medium;">Sei sicuro di voler eliminare questo post?</p>
    </div>
    <div class="modal-footer" role="contentinfo">
        <button type="button" class="btn btn-danger" (click)="confirmDeletePost()">Si.</button>
    </div>
</ng-template>

<ng-template #commentModal let-modal="modalRef">
    <div class="modal-header" role="banner">
        <h2 class="modal-title" style="font-size: large;">Visualizza commenti</h2>
        <button type="button" mat-icon-button class="close" aria-label="Chiudi" (click)="modalRef?.hide()">
            <mat-icon aria-hidden="true">close</mat-icon>
        </button>
    </div>
    <div class="modal-body scrollable-modal-body" role="document">
        <p *ngIf="!existComments" style="font-size: medium;">Ancora nessun commento per questo post ...</p>
        <div *ngIf="existComments">
            <div *ngFor="let comment of displayedComments">
                <div class="px-2 py-1 mb-2 " style="background-color: rgb(234, 234, 234); border-radius: 0.375rem;">
                    <div class="my-1" style="text-align: center;">
                        <p class="m-0">{{comment.content}}</p>
                    </div>
                    <mat-divider></mat-divider>

                    <div>
                        <p style="font-style: italic;" class="m-0 mx-2 mt-1">@{{comment.usernameAuthor}}</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</ng-template>

<ng-template #confirmModal >
    <div class="modal-header" role="banner">
        <h2 class="modal-title" style="font-size: large;">Conferma eliminazione</h2>
        <button type="button" mat-icon-button class="close" aria-label="Chiudi" (click)="modalRef?.hide()">
            <mat-icon aria-hidden="true">close</mat-icon>
        </button>
    </div>
    <div class="modal-body scrollable-modal-bod" role="document">
        <p style="font-size: medium;">Se rimuovi l'unico destinatario il post verrà eliminato. <br> sicuro di voler eliminare questo post?</p>
    </div>
    <div class="modal-footer" role="contentinfo">
        <button type="button" class="btn btn-danger" (click)="confirmDeletePost()">Si.</button>
    </div>
</ng-template>