<button type="button" class="btn btn-success" (click)="openPostModal(template)">Squeal</button>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Post a Squeal.</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1" />
        </div>
    </div>
    <div class="modal-footer pull-right">
        <p>Caratteri giornalieri rimanenti: {{characters.daily}} / 1000</p>
        <p>Caratteri settimanali rimanenti: {{characters.weekly}} / 6000 </p>
        <p>Caratteri mensili rimanenti: {{characters.monthly}} / 22000</p>

    </div>
</ng-template>