.imgVipProfilePic {
    max-width: 100%;
    height: auto;
}
.vipProfilePic {
    height: 100%;
    width: 5rem;
}
.vipSelected{
 padding-top: 10px;
}

.vipUsername {
    margin-top: 10px;
}

#selectionImg{
    height: 10rem;
    width: 10rem;
}