<div class="sticky-top">
    <app-top-bar></app-top-bar>
    <div class="row px-2" id="profileTabDashboard" style="background-color: black; ">
        <div class="col-6" id="tabProfile">
            <div class="row">
                <div class="col-4" style="padding: 3%;" id="vipProfilePic">
                    <img class="" id="imgVipProfilePic" src={{vipProfilePic}}>
                </div>
                <div class="col-4" id="vipUsername " style="color: white; margin-top: 1rem;">{{vipUsername}}</div>
                <div class="col-4" id="postButtonContainer">
                    <app-create-post></app-create-post>
                </div>
            </div>

        </div>
        <tabset type="pills" class="col-6" style="margin-top: 0.5rem;">
            <div class="row">
                <!-- funzione caricamento feed-->
                <tab class="col-6"><ng-template tabHeading>
                        <button id="showFeedButton" class="text btn" (click)="activeTab = 'feed' "><span class=""
                                style="font-size: 1.2rem; font-weight: bold;">Feed</span></button>

                    </ng-template></tab>
                <!-- funzione caricamento caratteri rimanenti-->
                <tab class="col-6"><ng-template tabHeading>
                        <button id="showCharsButton" class="text btn " (click)="activeTab = 'chars' "><span class=""
                                style="font-size: 1.2rem; font-weight: bold;">Caratteri</span></button>

                    </ng-template></tab>

            </div>
        </tabset>
    </div>
</div>

<div *ngIf="activeTab == 'feed'">
    <app-feed></app-feed>
</div>

<div *ngIf="activeTab == 'chars'">
    <app-character-displayer [dailyChars]="characters.daily" [weeklyChars]="characters.weekly"
        [monthlyChars]="characters.monthly">
    </app-character-displayer>
</div>