<div class="row my-2" style=" width: 120%;">
    <p class="col-1" style="text-align: center; margin-top: 1rem; color: #d9d9d9; font: 1em sans-serif; font-size: medium;" role="heading" aria-level="2">Filtri:</p>
    <form class="col-10 " (ngSubmit)="applyFilter(filterForm)" #filterForm="ngForm" role="form" aria-labelledby="filterForm" style="display: flex; align-items: center; flex-wrap: wrap;">
        
        <mat-form-field appearance="fill" class="px-2 pt-2">
            <mat-label>Ordina per:</mat-label>
            <mat-select name="orderBy" [(ngModel)]="filterParams.orderBy" aria-label="Seleziona l'ordine dei post">
                <mat-option value="recent">Più recenti</mat-option>
                <mat-option value="oldest">Meno recenti</mat-option>
                <mat-option value="liked">Più reazioni positive</mat-option>
                <mat-option value="disliked">Più reazioni negative</mat-option>
                <mat-option value="viewed">Più visualizzazioni</mat-option>
                <mat-option value="unviewed">Meno visualizzazioni</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="px-2 pt-2">
            <mat-label>Seleziona per contenuto:</mat-label>
            <mat-select name="contentTypes" [(ngModel)]="filterParams.contentTypes" multiple aria-label="Seleziona i tipi di contenuto">
                <mat-option value="all">Tutti</mat-option>
                <mat-option value="text">Testo</mat-option>
                <mat-option value="image">Immagine</mat-option>
                <mat-option value="video">Video</mat-option>
                <mat-option value="geolocalization">Geolocalizzazione</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="px-2 pt-2">
            <mat-label>Seleziona per popolarità:</mat-label>
            <mat-select name="contentPopularity" [(ngModel)]="filterParams.contentPopularity" multiple aria-label="Seleziona per popolarità">
                <mat-option value="all">Tutti</mat-option>
                <mat-option value="popolare">Popolari</mat-option>
                <mat-option value="impopolare">Impopolari</mat-option>
                <mat-option value="controverso">Controversi</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="px-2 pt-2">
            <mat-label>Seleziona per riservatezza:</mat-label>
            <mat-select name="contentPrivacy" [(ngModel)]="filterParams.contentPrivacy" multiple aria-label="Seleziona per riservatezza">
                <mat-option value="all">Tutti</mat-option>
                <mat-option value="pubblico">Pubblici</mat-option>
                <mat-option value="privato">Privati</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button type="submit" aria-label="Applica filtri" style="width: 8rem;">Applica filtri</button>

    </form>

</div>