<nav class="navbar bg-light">
    <div class="container-fluid row no-gutters" id="topTabDashboard">
        <div class="col-2" id="logoContainer">
            <img id="logo" [src]="logosrc" alt="Logo">
        </div>
        <div id="titleContainer" class="col-8">
            <h1 class=" align-middle" id="title">Squealer SMM</h1>
        </div>
        <div class="col-2">
            <div class="row">
                <button mat-icon-button color="primary" class="col" aria-label="Example icon button with a home icon">
                    <mat-icon>shopping_cart</mat-icon>
                </button>
                <div class="col btn-group" dropdown>

                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>groups</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">

                        <button mat-menu-item *ngFor="let username of vipsUsernames; let i = index"
                            style="overflow:hidden ;" (click)="changeVip(i)">
                            <div class="row">
                                <div class="col-md-4 col-sm-12">
                                    <img class="img-fluid" id="selectionImg" [src]="vipsProfilePics[i]" 
                                        alt="">
                                </div>
                                <div class="col-md-8 col-sm-12 username-container">
                                    <div class="username">{{ username }}</div>
                                </div>
                            </div>

                        </button>


                    </mat-menu>


                </div>

            </div>

        </div>


    </div>
</nav>