<nav class="navbar bg-light">
    <div class="container-fluid row no-gutters" id="topTabDashboard">
        <div class="col-2" id="logoContainer">
            <img id="logo" [src]="logosrc" alt="Logo">
        </div>
        <div id="titleContainer" class="col-8">
            <h1 class=" align-middle" id="title">Squealer SMM</h1>
        </div>
        <div class="col-2">
            <div class="row">
                <button mat-icon-button color="primary" class="col" aria-label="Example icon button with a home icon">
                    <mat-icon>shopping_cart</mat-icon>
                </button>
                <div class="col btn-group" dropdown>

                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>groups</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <app-vip-dropdown-card *ngFor="let username of vipsUsernames; let i = index"
                                                [username]="username" [profileImg]="vipsProfilePics[i]">
                        </app-vip-dropdown-card>
                    </mat-menu>
                    

                </div>

            </div>

        </div>


    </div>
</nav>