#logo{
    max-height: 3rem;
}

#title{
    color: #18020C;
    font-family: 'CenturyGothic';
    font-size: 2rem ;
    font-weight: bold;
}

#title:hover{
    color: #0d6efd;
    text-decoration: none;
}

#shoppingContainer{
    color: rgb(0, 0, 0);
}

#vipSelContainer{
    padding-top: 0.5rem; padding-bottom: 0.5rem;
}

#buttonVipSel:hover{
    color: #0d6efd;
}

#buttonShop:hover{
    color: #0d6efd;
}