<nav class="navbar bg-light">
    <div class="container-fluid row px-2" id="topTabDashboard">
        <div class="col-sm-2">
            <img id="logo" [src]="logosrc" alt="Logo">
        </div>
        <div class="col d-none d-sm-block">
            <h1 class="px-2 align-middle" id="title">Squealer SMM</h1>
        </div>
        <div id="shoppingContainer" class="col-sm-1 ">
            <button id="buttonShop" type="button" class="btn btn-outline-dark "><mat-icon>shopping_cart</mat-icon>
            </button>
        </div>
        <div class="col-sm-1" id="vipSelContainer">
            <div class="btn-group" dropdown>
                <button id="buttonVipSel" dropdownToggle type="button" class="btn btn-outline-dark dropdown-toggle"
                    aria-controls="dropdown-animated">
                    <mat-icon>group</mat-icon>
                </button>


                <ul id="ulVipSel" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                    aria-labelledby="button-animated">
                    <li class="user-item" *ngFor="let username of vipsUsernames; let i = index" (click)="selectVip(i)">
                        <div class="dropdown-item " style="padding: 10px; border-color: black; ">
                            <div class="row">
                                <div class="col-6"> <img class="img-fluid" style="height: auto;" id="selectionImg"
                                        src={{vipsProfilePics[i]}}> </div>
                                <div class="col-6" style="margin-top: 12%;">{{username}}</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>